<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web Application to run election audits.">
    <meta name="author" content="Zara Perumal, Berj Chiligirian">

    <title>Audit Engine Sign Up</title>

    <link href="../static/css//bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/signIn.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/runAuditJob.js"></script>

</head>
  <body>
    <div class="header">
            <nav>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Audit Engine</h3>
    </div>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <form action="addJob" id="addJob" method="post" name="addJob" enctype=multipart/form-data>
        Job name: <input type="text" name="name"><br>
        Audit type:<br>
        Existing ballots<input checked name='ballot_type' onclick="hideDiv()"
        type='radio' value="existing_ballots"> Upload ballots <input name=
        'ballot_type' onclick="showDiv()" type='radio' value=
        "upload_ballots"><br>
        <div id="uploadDiv" style="display:none">
            Select ballot data to upload: <input  name=
            "ballotsToUpload" type="file"> <br>
            Sampler Job: <br>
            <select name="samplerJob">
            {% for sampler_name in samplerNames %}
                <option value="{{ sampler_name[5],sampler_name[7] ,sampler_name[8] ,sampler_name[9] ,sampler_name[10]  }}">{{ sampler_name[2] }}</option>
            {% endfor %}
            </select>
        </div>
            State:<br>
        <select  name="state">
            <option value="ACT">
                ACT
            </option>
            <option value="NSW">
                NSW
            </option>
            <option value="NT">
                NT
            </option>
            <option value="QLD">
                QLD
            </option>
            <option value="TAS">
                TAS
            </option>
            <option value="VIC">
                VIC
            </option>
            <option value="WA">
                WA
            </option>
        </select><br>

            <div id="seedIncDiv" >
        Random Seed: <input type="text" name="seed"><br>
        Audit increment size: <input type="number" name="incrementSize"><br>
                </div>
        <input name="type" type="text" value="audit"  hidden>
        <input id="btnRunJob" type="submit" value="Run Audit">
      </form>

          <span id="messageSpan">  </span>
    </div>


      <hr>

      <footer>
        <p>&copy; Zara Perumal 2016</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  </body>
</html>