<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web Application to run election audits.">
    <meta name="author" content="Zara Perumal, Berj Chiligirian">

    <title>Audit Engine Sign Up</title>

    <link href="../static/css//bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/signIn.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">

    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/runAuditJob.js"></script>
    <script src="../static/js/runSamplerJob.js"></script>

</head>
  <body>
    <div class="header">
            <nav>
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="logout">Log Out</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Audit Engine</h3>
    </div>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <form action="addSamplerJob" id="addJob" method="post" name="addJob" enctype=multipart/form-data>
        Sampler Job name: <input type="text" name="name"><br>

           New Audit Job<input checked name='audit_type' onclick="hideDiv()"
        type='radio' value="new_audit"> Existing Audit Job <input name=
        'audit_type' onclick="showDiv()" type='radio' value=
        "existing_audit">
            <br>
        <div id="existingOrNew" style="display:none">
            Audit Job: <br>
            <select name="auditJob">
            {% for audit_name in auditNames %}
                <option value="{{audit_name[8] ,audit_name[10] }}">{{ audit_name[2] }}</option>
            {% endfor %}
            </select>
        </div>

        Random Seed: <input type="text" name="seed"><br>
        Audit increment size: <input type="number" name="incrementSize"><br>
            State:<br>
        <select  name="state">
            <option value="ACT">
                ACT
            </option>
            <option value="NSW">
                NSW
            </option>
            <option value="NT">
                NT
            </option>
            <option value="QLD">
                QLD
            </option>
            <option value="TAS">
                TAS
            </option>
            <option value="VIC">
                VIC
            </option>
            <option value="WA">
                WA
            </option>
        </select><br>
        <input name="type" type="text" value="sampler"  hidden>
        <input id="btnRunJob" type="submit" value="Run Sampler">
      </form>

          <span id="messageSpan">  </span>
    </div>


      <hr>

      <footer>
        <p>&copy; Zara Perumal 2016</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  </body>
</html>